:root {
    background-color: darken($color-base, 30);
    color: white;

    font: {
        family: "Open Sans", sans-serif, arial;
    }
}

body {
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    margin: 25px auto;
}

main {
    padding: 10px;
}
// Visualizar tabla:
.table {
    width: 100%;
    border-collapse: collapse;
    td,
    th {
        padding: 5px;
        border: 1px solid;
    }

    th {
        background-color: rgba(white, 0.3);
    }

    col:nth-of-type(2n + 1) {
        background-color: rgba(white, 0.2);
    }
}

.resultados {
    padding: 10px;
    font-size: 1.5rem;
    background-color: rgba($color-base, 0.2);
    min-height: 50px;
    transition: 300ms ease;
    display: flex;
    align-items: center;
    border: 1px solid rgba(white, 0.2);

    &:empty {
        opacity: 0;
    }
}
